

.login{
    background-color: whitesmoke;

    display: grid;
    place-items: center;
    height: 100vh;
}

.login > div > h1 {
    text-align: center;
}

.login > div > img {
    object-fit: contain;
    height: 150px;
}

.login > button {
    width: 300px;
    background-color: rgb(60 103 176);
    color: lightgray;
    font-weight: 800;
}

.login > button:hover{
    color: rgb(60 103 176);
    background-color: lightgray;
}
